<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body data-bs-theme="dark">
    <%- include('../partials/header') %>

    <main class="container my-5" book-id="<%= book.id %>">
      <div class="container col-8" id="container-principal">
        <div class="d-flex ps-0 pe-0 justify-content-start align-items-start container gap-5 mb-5">
          <img width="300px" class="book-cover rounded" src="<%= book.cover %>" alt="" />
          <div>
            <div id="book-header" class="d-flex flex-column justify-content-start">
              <h1 class="w-100 fs-3"><%= book.title %></h1>
              <p style="color: #9ab">Escrito por <span style="color: #ddeeff"><%= book.author %></span></p>
            </div>

            <div id="book-description" style="color: #9ab; font-size: 14px"><%= book.description %></div>
          </div>
        </div>

        <div id="rate-review-container" class="rounded mx-auto">
          <% if (user) { %>
          <button data-bs-toggle="modal" data-bs-target="#rate" class="btn">Fazer análise</button>
          <% } else { %>
          <button data-bs-toggle="modal" data-bs-target="#login" class="btn">Faça login para análise</button>
          <% } %>
        </div>

        <div id="view-rates" class="w-100" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
          <div class="modal-header">
            <p class="books-footer lb-item-color text-start w-100 text-uppercase mb-0">ANÁLISES</p>
          </div>
          <div class="modal-body"></div>
        </div>
        <% if (user) { %>
        <div class="modal fade" id="rate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-body pt-4 px-5">
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px"></button>

                <div class="d-flex justify-content-center align-items-center gap-4">
                  <img src="<%= book.cover %>" class="img-fluid rounded" width="150" alt="..." />

                  <div class="d-flex justify-content-center align-items-start flex-column w-75">
                    <p class="fw-bold fs-4"><%= book.title %></p>
                    <div class="form-group w-100">
                      <textarea id="comment" class="form-control" placeholder="Adicione sua análise" style="height: 150px; resize: none" type="text" name="comment" required=""></textarea>
                    </div>

                    <div class="rating-wrapper">
                      <div class="rating-star">
                        <input type="radio" class="star-rate" name="html" data-rate="5" />
                        <input type="radio" class="star-rate" name="html" data-rate="4.5" />
                        <input type="radio" class="star-rate" name="html" data-rate="4" />
                        <input type="radio" class="star-rate" name="html" data-rate="3.5" />
                        <input type="radio" class="star-rate" name="html" data-rate="3" />
                        <input type="radio" class="star-rate" name="html" data-rate="2.5" />
                        <input type="radio" class="star-rate" name="html" data-rate="2" />
                        <input type="radio" class="star-rate" name="html" data-rate="1.5" />
                        <input type="radio" class="star-rate" name="html" data-rate="1" />
                        <input type="radio" class="star-rate" name="html" data-rate="0.5" />
                      </div>
                      <i class="bi bi-x-lg ms-2" onclick="resetStars()" style="cursor: pointer"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer" style="border-top: 0; padding-top: 0">
                <button id="btn-save-rate" class="btn btn-warning text-white" type="submit">
                  Salvar
                  <i class="bi bi-star-fill text-white"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./scripts/script.js"></script>
    <script src="./scripts/book.js"></script>
  </body>
</html>
